<?xml version="1.0" ?>

<plugin>

    <extension point="org.protege.editor.owl.inference_reasonerfactory"
               id="jfact-factory">
        <name value="JFact 4.0.0-SNAPSHOT"/>
        <label value="JFact 4.0.0-SNAPSHOT" />
        <class value="jfact.plugin.protege.JFactProtegeFactory"/>
    </extension>
</plugin>